COURTROOM_RUNTIME_ENV=local

LANGCHAIN_PROJECT=courtroom-simulation-local
LANGCHAIN_TRACING_V2=false

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=courtroom-simulation-local
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com

OPENAI_API_KEY=
